
.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding:20px;
  background-color: white;
  color: #757575;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.disclaimer{
  font-weight: 400;
  font-style: italic;
  text-align: center;
  line-height: 17px;
  max-width: 850px;
  margin-bottom: 20px;
  }

.links{
  display: flex;
  justify-content: space-between;
  width:100%;
  max-width:1000px;
  align-items:center;
  font-size: 16px;
  line-height: 19.5px;

.leftLinks{
    display: flex;
}

.leftLinks a{
    font-weight: 500;
    margin-right: 15px;
  }

.leftLinks a:hover {
  text-decoration:underline;
}

.rightText{
    font-weight: 400;
    justify-content:flex-end
  }

 .rightText span{
    font-weight: 600;
  }
}