.container {
  display: flex;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #D9D9D9;
  background-color: #FFFFFF;
  height: 64px;
  width: 64px;
  justify-content: center;
  align-items: center;

}